{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Shopping cart</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-image">Image</th>
                    <th class="goods-page-description">Description</th>
                    <th class="goods-page-ref-no">sub</th>
                    <th class="goods-page-quantity">Quantity</th>
                    <th class="goods-page-ref-no">Add</th>
                    <th class="goods-page-price">Unit price</th>
                    <th class="goods-page-price">Discounted Price</th>
                    <th class="goods-page-total" colspan="2">Total</th>
                  </tr>
                  {% for cart in object.items.all %}
                  <tr>
                    <td class="goods-page-image">
                      <a href="javascript:;"><img src="../{{cart.item.image.url}}" alt="Berry Lace Dress"></a>
                    </td>
                    <td class="goods-page-description">
                      <h3><a href="javascript:;">{{cart.item.description}}</a></h3>
                      <p><strong>{{cart.item.title}}</strong> - Color: Green; Size: S</p>
                      <em>More info is here</em>
                    </td>
                    <td class="goods-page-ref-no">
                     <a href="{{cart.item.remove_single_item}}"><font size = "40"><left>-</left></font> </a>
                    </td>
                    <td class="goods-page-quantity">
                      
                      <div class="product-quantity">
                          <div id="product-quantity" type="text" value="1" readonly class="form-control input-sm">{{cart.quantity}}</div>
                         
                      </div>
                    </td>
                    <td class="goods-page-ref-no">
                     <a href="{{cart.item.add_to_cart}}"><font size = "40"><left>+</left></font> </a>
                    </td>
                    <td class="goods-page-price">
                      <strong><span>$</span>{{cart.item.price}}</strong>
                    </td>
                    <td class="goods-page-price">
                      <strong><span>$</span>{{cart.item.discounted_price}}</strong>
                    </td>

                    <td class="goods-page-total">
                      <strong><span>$</span>{{cart.get_actual_price}}</strong>
                    </td>


                    <td class="del-goods-col">
                      <a class="del-goods" href="javascript:;">&nbsp;</a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
                </div>

                <div class="shopping-total">
                  <ul>
                    <li>
                      <em>Sub total</em>
                      <strong class="price"><span>$</span>{{object.get_total}}</strong>
                    </li>
                    <li>
                      <em>Shipping cost</em>
                      <strong class="price"><span>$</span>3.00</strong>
                    </li>
                    <li class="shopping-total-price">
                      <em>Total</em>
                      <strong class="price"><span>$</span>{{object.get_all_total_price}}</strong>
                    </li>
                  </ul>
                </div>
              </div>
              <button class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></button>
              <button class="btn btn-primary" type="submit">Checkout <i class="fa fa-check"></i></button>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->


      </div>
    </div>
{% endblock %}